<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Web App</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<div class=container>
<div><h4><a href="/">Log Out</a></h4> </div>
<div>
	<h1 style="text-align:center;">
            <span th:text="'Hello, ' + ${obj.fname} + ' you are successfully registered, below are your details:'"></span>
            
    </h1>
    <h2 style="text-align: center;">
    	<span th:text="'User Name: ' + ${obj.username}"></span><br>
    	<span th:text="'First Name: ' + ${obj.fname}"></span><br>
        <span th:text="'Last Name: ' + ${obj.lname}"></span><br>
        <span th:text="'Email: ' + ${obj.email}"></span><br>
        <span th:text="'Word Count: ' + ${obj.wc}"></span><br>
    </h2>
<div class="btn-toolbar" style="padding-left: 15px">
    <form action="fileDownload" method=get>
    	<input type= hidden th:value="${obj.filepath}" name=filepath>
    	<button type = submit class="btn btn-primary btn-lg btn-block">Download File</button>
    </form>
</div>
</div>
</div>
<body>
</body>
</html>